<div class="container-fluid">
    <div class="right-menu">
        <app-right-menu></app-right-menu>
    </div>
    <div class="content">
        <div class="left-menu">
            <app-left-menu></app-left-menu>
        </div>
        <div class="home">
            <div class="home-app">
                <app-home></app-home>
            </div>
            <div class="education">
                <app-education></app-education>
            </div>
            <div class="work">
                <app-work-history></app-work-history>
            </div>
            <div class="portfolio">
                <app-portfolio></app-portfolio>
            </div>
            <div class="contact">
                <app-contact></app-contact>
            </div>
            <div class="footer">
               <div class="all-rights">2022 All Rights Louka Gamal</div>
            </div>
        </div>
    </div>
</div>