.container-fluid {

  background-color: #E4E6EB;


}
.content{
  display: flex;
 
  flex-direction: row;
}
.left-menu{
  margin-inline-end: 30px;
}
.right-menu{
   background-color: #E4E6EB;
   justify-content: center;
   margin-bottom: 30px;
}
.footer{
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 60px;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
text-transform: capitalize;
font-feature-settings: 'calt' off, 'kern' off;
color: #2B2B2B;
text-align: center;
  background-color: #E4E6EB;

}
