<div class="container-fluid">
    <div class="title">Portfolio</div>
    <div class="paragraph">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
        velit
        mollit. lorem ipsum
    </div>
    <div class="portfolio-saction">
      <div class="portfolio">
          <div class="card-portfolio">
              <img class="img" src="../../../../assets/img/cryptofield.PNG" alt="">
          </div>
        <div class="card-portfolio">
            <img class="img" src="../../../../assets/img/protfolo.PNG" alt="">
        </div>
        <div class="card-portfolio">
            <a href="https://loukagamal.github.io/cryptofield/">
                <img class="img" src="../../../../assets/img/cryptofield.PNG" alt="">
            </a>
        </div>
        
      </div>
    </div>
</div>