.container-fluid {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
    background-color: #E4E6EB;
}
.title {
  margin-top: 25px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 123.6%;
  text-transform: capitalize;
  color: #2b2b2b;
}
.paragraph {
  margin-top: 25px;
  justify-content: center;
  max-width: 450px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  color: #767676;
  margin-bottom: 20px;
}
.portfolio-saction{
 width: 100%;
  background-color: #ffffff;
  height: 100%;
  
}
.portfolio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 50px;
}
.card-portfolio{
  margin: 10px;
  max-width: 310px;
}
.img{
  
height: 300px;
max-width: 100%;

}


@media only screen and (max-width: 980px) {
 .container-fluid {
max-width: 970px;

}

 
    .introduction{
     width: 100%;
    
 }

}

@media only screen and (max-width: 720px){
     .container-fluid {
flex-direction: column;
padding: 0px;
margin: 0px;

}
.portfolio-saction{
  display: flex;
  justify-content: center;
}
.portfolio{
  display: flex;
  flex-direction: column;

}

   
}