.container-fluid{
  
background-color: #FFFFFF;
align-items: center;
display: flex;
max-width: 700px;
}
.navbar{
    display: none;
    position: absolute;
}
.right-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 70px;
    width: 100%;

}
@media screen and (max-width: 1450px)  {
    .navbar{
    display: block;
    position: absolute;
}
  .container-fluid {
  position: absolute;

}
.right-menu{
  display: none;
  position: absolute;
}
.container-fluid:hover {

  .right-menu {
    width: 50px;
    display: block;
   
    flex-direction: column;
    height: 1025;
    
  }
  .icon{
      margin-bottom: 30px;
  }
}
}

