<div class="container-fluid">
    <div class="dark-mode">
        <img class="dark-img" src="../../../assets/img/darkmode.svg" alt="">
    </div>
    <div class="home">
        <div class="home-name"> Home</div>
        <div class="home-icon"> 
            <img class="home-img" src="assets/img/home.svg" alt="">
        </div>
    </div>
    <div class="education">
        <img class="cv-img" src="assets/img/cv.svg" alt="">
    </div>
    <div class="portfolio">
        <img class="portfolio-img" src="assets/img/portfolio.svg" alt="">
    </div>
    <div class="contact">
        <img class="contact-img" src="assets/img/contact.svg" alt="">
    </div>
</div>