<div class="container-fluid">
    <div class="navbar">
        <button class="navbar-toggler ">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
    </div>
    <div class="right-menu">
        <div class="dark-mode icon">
            <img class="dark-img" src="../../../assets/img/darkmode.svg" alt="">
        </div>
        <div class="home">
            <div class="home-icon icon">
                <img class="home-img" src="assets/img/home.svg" alt="">
            </div>
        </div>
        <div class="education icon ">
            <img class="cv-img" src="assets/img/cv.svg" alt="">
        </div>
        <div class="portfolio icon">
            <img class="portfolio-img" src="assets/img/portfolio.svg" alt="">
        </div>
        <div class="contact icon">
            <img class="contact-img" src="assets/img/contact.svg" alt="">
        </div>
    </div>
</div>