<div class="container-fluid">
    <div class="title">Education</div>
    <div class="paragraph">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
        mollit. lorem ipsum
    </div>
  <div class="education-saction">
        <div class="education"*ngFor="let index of education ">
            <div class="left-saction">
                <div class="university">
                   {{index.university}}
                </div>
            <div class="department">
                {{index.department}}
            </div>
        
            </div>
            <div class="right-saction">
                <div class="student">
                    <div class="student-label">{{index.student}}</div>
                    <div class="period">
                        {{index.period}}
                    </div>
                </div>
               
                <div class="graduated">
                {{index.graduated}}
                </div>
        
            </div>
        </div>
  </div>
</div>