.container-fluid {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
    background-color: #E4E6EB;
    width: 100%;
}
.title {
  margin-top: 25px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  text-transform: capitalize;
  color: #2b2b2b;
}
.paragraph {
  margin-top: 25px;
  justify-content: center;
  width: 450px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  color: #767676;
}
.education-saction{
 width: 100%;
  background-color: #ffffff;
  
}
.education {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  border-bottom: solid #2B2B2B 1.5px;

  padding-bottom: 30px;
 

  .university {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    text-transform: capitalize;
    color: #2b2b2b;
      margin-bottom: 28px;
  }
  .student {
   display: flex;
   justify-content: center;

    .student-label {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      text-transform: capitalize;
      font-feature-settings: "calt" off, "kern" off;
      color: #2b2b2b;
      margin-inline-end: 20px;

    }
    .period {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 100.9%;
      color: #ffffff;
      background: #FFB400;
border-radius: 1px;
    }
  }
}

.department{
  text-align: start;
  margin-bottom: 28px;
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 123.6%;
text-transform: capitalize;
color: #2B2B2B;
}
.graduated{
  max-width: 536px;

text-align: start;
}

@media only screen and (max-width: 720px){

.paragraph{
   max-width: 450px;
   max-width: 100%;
   margin-bottom: 20px;
}

  .education{
    margin: 0;
  padding: 0;
    justify-content: center;
    flex-direction: column;
  }
  .student{
    display: flex;
    justify-content: center;
  }
  .student-label{
    margin-inline-end: 20px;
  }
}