<div class="container-fluid">
 
    <div class="profile-card">
        <div class="img-profile">
            <img class="louka" src="assets/img/louka.jpg" alt="">
        </div>
        <div class="name">
            Louka Gamal
        </div>
        <div class="jop">
            Font-end Developer
        </div>
        <div class="social-icon" >
            <ul *ngFor="let item of socialIcon">
                <li><a href="{{item.liink}}"><img src="{{item.icon}}" alt=""></a></li>
                
            </ul>
            
        
        </div>
    </div>
    <div class="about">
        <div class="content-about">
            <div class="left">Age : </div>
            <div class="right">27</div>
        </div>
        <div class="content-about">
            <div class="left">Residence: </div>
            <div class="right">Assiut</div>
        </div>
        <div class="content-about">
            <div class="left">Freelance: </div>
            <div class="available">Available</div>
        </div>
        <div class="content-about">
            <div class="left">Address: </div>
            <div class="right">Assiut, Egypt</div>
        </div>
    </div>
    <div class="content">
        <div class="langu">Languages</div>
        <div class="content-languages">
            <div class="left">English  </div>
            <div class="right">80%</div>
        </div>
        <div class="progress ">
            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
        <div class="content-languages">
            <div class="left">Arabic </div>
            <div class="right">90%</div>
        </div>
        <div class="progress ">
            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
   
    </div>

    <div class="content">
        <div class="langu">Skills</div>
        <div class="content-languages">
            <div class="left">Html </div>
            <div class="right">90%</div>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
        <div class="content-languages">
            <div class="left">CSS </div>
            <div class="right">90%</div>
        </div>
        <div class="progress ">
            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
        <div class="content-languages">
            <div class="left">Js </div>
            <div class="right">80%</div>
        </div>
        <div class="progress ">
            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
        <div class="content-languages">
            <div class="left">Angular </div>
            <div class="right">80%</div>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
    
    </div>
    <div class="content">
        <div class="langu">Extra Skills</div>
        <div class="content-languages">
            <div class="left"><img src="assets/img/icon-skills.svg" alt=""> </div>
            <div class="right">JavaScript, JQuery, </div>
        </div>
        <div class="content-languages">
            <div class="left"><img src="assets/img/icon-skills.svg" alt=""> </div>
            <div class="right">Bootstrap, angular material</div>
        </div>
        <div class="content-languages">
        <div class="left"><img src="assets/img/icon-skills.svg" alt=""> </div>
            <div class="right">Stylus, Sass, Less</div>
        </div>
        <div class="content-languages">
            <div class="left"><img src="assets/img/icon-skills.svg" alt=""> </div>
            <div class="right">Gulp, Git , Github</div>
        </div>
    </div>
    <div class="cv">
        <a href="https://drive.google.com/u/0/uc?id=1IqarNr450wVPdCxR29eYI5FmTz7e-A9u&export=download">Download cv</a>
    
            <i class="fa fa-download" aria-hidden="true"></i>
      
    </div>
</div>