<div class="container-fluid">
    <div class="introduction">
        <div class="im">
            I’m Louka Gamal 
        </div>
        <div class="jop">
            <div class="front-end">Front-end</div>
            <div class="developer">Developer</div>
        </div>
        <div class="paragraph">
            Front-end and developing user experience desires to work as a Front-end Developer; with experience
            daily working on
        </div>
        <div class="hire-me">
            <div class="hire-me-but">
                <a href="https://www.linkedin.com/in/louka-gamal/">HIRE ME
                    <img src="../../../../assets/img/sahm.svg" alt="">
                </a>
                
                
            </div>
            
        </div>
        

    </div>

    
    <div class="your-image ">
        <img class="img" src="../../../../assets/img/louka-home.svg" alt="">
    </div>
</div>